@page "/"
@inject IWebHostEnvironment appEnvironment

<PageTitle>Project-o-Matic</PageTitle>

<div id="main">               
        <div class="column column-left">

    </div>
    <div class=main-inner>
        <div id="machine">
                <div class="title-container">
         <img class="title" src="images/PngLogo.png"/>
    </div>
          <div id="framework-center">
              <div>
            <div class="reel-frames">
              <div class="reels-machinery">
                    <div class="figures" name="level">
                        <div class="@SpinReelCssClass spin-reel-container">
                        <img class="spin-reel-image" src="images/skill-level-icons/@SelectedSkillLevel.Icon"/>
                        <p class="reel-text">@SelectedSkillLevel?.Name</p>
                        </div>
                    </div>
              </div>
              <div class="option-text-container">
                <h5 class="option-text">Skill Level</h5>
              </div>
           
            </div>
             <div class=button-group>                        
              <div class="up-skill-button buttons up-button" @onclick="UpSkillLevelButton">▲</div>
              <div class="down-skill-button buttons down-button" @onclick="DownSkillLevelButton">▼</div>
            </div>
            </div>
            <div>
            <div class="reel-frames">
              <div class="reels-machinery">
                    <div class="figures" name="language">
                         <div class="@SpinReelCssClass">
                        <img height="80" width="80" src="images/language-icons/@SelectedLanguage.Icon"/>
                        <p class="reel-text">@SelectedLanguage?.Name</p>
                        </div>
                    </div>
              </div>
              <div class="option-text-container">
              <h5 class="option-text">Language</h5>
              </div>
            </div>
                           <div class=button-group> 
              <div class="up-language-button buttons up-button" @onclick="UpLanguageButton">▲</div>
               <div class="down-language-button buttons down-button" @onclick="DownLanguageButton">▼</div>
            </div>
            </div>
            <div>
            <div class="reel-frames">
              <div class="reels-machinery">
                <div class="figures" name="framework">
                     <div class="@SpinReelCssClass">
                    <img height="80" width="80" src="images/framework-icons/@SelectedFramework.Icon"/>
                    <p class="reel-text">@SelectedFramework?.Name</p>
                    </div>
                </div>
              </div>
              <div class="option-text-container">
              <h5 class="option-text">Framework</h5>
              </div>
                         
            </div>
             <div class=button-group>
                           
              <div class="up-framework-button buttons up-button" @onclick="UpFrameworkButton">▲</div>
               <div class="down-framework-button buttons down-button" @onclick="DownFrameworkButton">▼</div>
            </div>  
            </div>
          </div>
       <div id="button-panel">
            <div id="fetch-button" class="buttons" @onclick="FetchProject">GO</div>
      </div>
    </div>

     <div class="overlay-button-container">
        @*<Button Class="overlay-button">WTF is the Project-o-Matic?</Button>*@
    </div>

    <TextAccordion></TextAccordion>

              <div class="footer">
      <p>Created for <a href="https://twitter.com/TechPickleJoel/status/1527273923037081601">The Self-Taught Tech Network</a> as part of the <a href="https://planetscale.com/?utm_source=hashnode&utm_medium=hackathon&utm_campaign=announcement_article">PlanetScale</a> X <a href="https://hashnode.com/?source=planetscale_hackathon_announcement">Hashnode</a> Hackathon</p>
    </div>
   </div>
           <div class="column column-right">

    </div>
</div>