@page "/"
@inject IWebHostEnvironment appEnvironment

<PageTitle>Project-o-Matic</PageTitle>

<div id="main">               
        <div class="column column-left">

    </div>
    <div class=main-inner>
        <div id="machine">
                <div class="title-container">
         <img class="title" src="images/PngLogo.png"/>
    </div>
 
       <div id="button-panel">
            <div id="fetch-button" class="buttons" @onclick="FetchProject">GO</div>
      </div>
    </div>

     <div class="overlay-button-container">
        @*<Button Class="overlay-button">WTF is the Project-o-Matic?</Button>*@
    </div>

              <div class="footer">
      <p>Created for <a href="https://twitter.com/TechPickleJoel/status/1527273923037081601">The Self-Taught Tech Network</a> as part of the <a href="https://planetscale.com/?utm_source=hashnode&utm_medium=hackathon&utm_campaign=announcement_article">PlanetScale</a> X <a href="https://hashnode.com/?source=planetscale_hackathon_announcement">Hashnode</a> Hackathon</p>
    </div>
   </div>
           <div class="column column-right">

    </div>
</div>