<img class="sub-title" src="images/how-it-works.png"/>

@*<h4 style="text-align: center;">Skill Level + Language + Framework + BIG RED BUTTON = Project</h4>*@

<div class="text-main-container">
    <div class="text-inner-container">
        <div class="text-container">
        <h4>Get your project inspiration here!</h4>

        <p>The Project-O-Matic is your go-to resource for project inspiration when learning to code.</p>

        <p>Discussions with aspiring developers highlighted that what to build can sometimes be harder than how to build... not really... but they've mentioned it.</p>

        <p>The project inspiration muscle is not something we all possess, so I created a tool to solve this issue.</p>

        <p>Enter your skill level, language and framework, hit the big red button, yes... this is one big red button you can press.</p>

        <p>Then like magic (Which is all coding really is) out comes your next project idea!</p>

        <p>Here's the math... the algo if your part of the cool kids.</p>
        
        <p style="font-weight: bold;">Skill Level + Language + Framework + BIG RED BUTTON = Project</p>

        <p>It's as easy as that!</p>

        <p>But wait... you want more!?</p>

        <p>Okay read on below, because this is more than just a project generator.</p>
        </div>
    </div>
</div>